<form method="post">
    <input type="hidden" value="{{ disponibility.id }}" name="id">
    <input type="text" value="{{ disponibility.timeTable }}" name="timetable">
    <input type="submit" value="Valider">
</form>