{%  extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter une Horaire</h1> <br>
    {% include "Disponibility/_form.html.twig" %}
    <a href="/Disponibility/index">retour à la liste</a>
{% endblock %}