{%  extends 'layout.html.twig' %}

{% block content %}
    <h1>Ajouter une catégorie</h1> <br>
    {% include "category/_form.html.twig" %}
    <a href="/Category/index">retour à la liste</a>
{% endblock %}