{% extends 'layout.html.twig' %}

{% block content %}
    
    <h1>Admin</h1>

        <a href="/Category/index">Categories</a>
        <a href="/Disponibility/index">Disponibility</a>

{% endblock %}