<form method="post" enctype="multipart/form-data">
       
    <fieldset>
    
        <div class='rating-stars'>
            <p>Evaluer la prestations :</p>
            <div class="rating">

                <input type="radio" name="rate" id="s5" value="5"  >
                <label for="s5">★</label>
                        
                <input type="radio" name="rate" id="s4" value="4">
                <label for="s4">★</label>

                <input type="radio" name="rate" id="s3" value="3">
                <label for="s3">★</label>

                <input type="radio" name="rate" id="s2" value="2">
                <label for="s2">★</label>
                        
                <input type="radio" name="rate" id="s1" value="1">
                <label for="s1">★ </label>

            </div>
            <p class="errors">{{errors.rate1}}</p>
        </div>  

    </fieldset>  
        
        <fieldset>
           <legend>Entrez votre commentaire:</legend>
           <textarea id="comment" name="comment"></textarea>
           <p class="errors">{{errors.comment1}}</p>
        </fieldset>

        <div class="formLink">
            <input type="submit" value="Valider">
        </div>

</form>